:root {
    --primary-color: #3E5C76;
    --secondary-color: #1D2D44;

    --white: #EEF0F2;
    --black: #0D1321;
    --grey: #8CA0BA;

    --success-color: #14a863;
    --danger-color: #d1484d;
    --warning-color: #FFCB77;
    --info-color: #227C9D;
}