#cart-container {
    position: relative;
}

#cart-toggler.active {
    color: var(--primary-color)!important;
}

#cart-toggler {
    position: relative;
}

#cart-toggler #cart-notification {
    display: none;
    position: absolute;
    font-size: 16px;
    left: 0;
    bottom: 0;
    color: var(--danger-color);
}

#cart-toggler #cart-notification.active {
    display: block;
    animation: big ease 0.5s;
}

@keyframes big {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

#cart-body {
    
    position: fixed;
    right: 8px;
    width: max-content;
    max-width: 100vw;

    display: none;

    box-shadow: 5px 5px 15px darkslategrey;
    overflow: hidden;
}

#cart-body .fas {
    font-size: 0.8em;
}
#cart-body .list-group-item {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

#cart-body .cart-item-manage {
    display: flex;
}

#cart-body .cart-item-quantity {
    font-weight: bold;
    margin-left: 32px;
}

#cart-body .cart-item-delete {
    color: var(--danger-color);
    margin-left: 16px;
}

#cart-body #cart-total-price {

    font-weight: bold;
    color: var(--success-color);
    font-size: 1.2em;
    vertical-align: bottom;
}

#cart-body #cart-btn {
    margin-right: 16px;
    margin-top: 16px;
}

#cart-container .active {
    display: block;
}

.deletePanier {
    color: var(--danger-color);
    margin-left: 16px;
}