#main-header {
    position: fixed;
    z-index: 999;
    width: 100vw;
}

#main-header #right-header {
    position: fixed;
    display: flex;
    vertical-align: middle;
    right: 16px;
    top: 16px;
}

#right-header .fa-shopping-cart,
#right-header .fa-user {
    color: var(--black)!important;
}

#main-header .navbar {
    background-color: var(--white)!important;
}

#main-header .navbar-toggler-icon {
    color: var(--black);
}

@media only screen and (min-width: 992px) {
    #searchbar {
        position: relative;
        right: 128px;
    }
}

#searchbar .btn {
    color: var(--success-color);
    border-color: var(--success-color);
    background-color: var(--white);
}

#searchbar .btn:hover {
    color: var(--white);
    background-color: var(--success-color);

}