#main-header span.menu-item-title {
    color: var(--black);
}

#main-header #menu-list-series,
#main-header #menu-list-authors {
    max-height: 256px;
    overflow-y: scroll;
}

#main-header #searchbar #search-autocompletion {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    border-bottom-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    max-height: 256px;
    overflow-y: scroll;
}

#main-header #searchbar #search-autocompletion a {
    text-decoration: none;
    color: var(--black)
}

#main-header #searchbar #search-autocompletion li:hover {
    cursor: pointer;
    background-color: var(--bs-gray-300)
}