/* import css variables */
@import url("var/_colors.css");

/* import css classes */
@import url("class/_btn.css");

/* import css templates pages */
@import url("templates/header/main-header.css");
@import url("templates/header/cart.css");
@import url("templates/main/main.css");
@import url("templates/main/list.css");
@import url("templates/main/list-item.css");
@import url("templates/header/menu.css");
@import url("templates/main/bd-not-found.css");
@import url("templates/main/product.css");
@import url("templates/main/detailed-cart.css");

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

p, h1, h2, h3, h4, h5, h6 {
    color: var(--black);
}

body {
    font-family: 'Open Sans', sans-serif!important;
    background-color: var(--white)!important;
}

.fas {
    font-size: 32px;
    cursor: pointer;
    margin-left: 8px;
}

::-webkit-scrollbar {
    width: 6px;

}

::-webkit-scrollbar-thumb {
    background: rgb(30, 51, 51);
    border-radius: 6px;
}
