#detailed-cart {
    width: 100%;
}

#detailed-cart table{
    backdrop-filter: blur(16px);
    border-radius: 8px;
}

#detailed-cart table .removePanier,
#detailed-cart table .addPanier {
    font-size: 75%!important;
}

#detailed-cart table th,
#detailed-cart table td {
    border: none;
}
