#list-container {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;

    height: calc(100vh - 146px);
    overflow-y: scroll;
}

#list-container nav {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}