.list-item {
    width: 192px;
    height: fit-content;
    margin: 8px;

    background-color: var(--white)!important;
    opacity: 0.90;
    box-shadow: 0.5rem 0.5rem 1.5rem var(--primary-color);
}

@media only screen and (max-width: 480px) {
    .list-item {
        width: 144px;
        box-shadow: 0.2rem 0.2rem 0.6rem var(--primary-color);
    }

    .list-item .addPanier {
        font-size: 1.5em;
    }
}

.list-item h1 {
    font-size: 1em;
    font-weight: bold;
}

.list-item h2 {
    font-size: 0.7em;
    font-style: italic;
}

.list-item .card-price {
    color: var(--success-color);
    font-weight: bold;
}

.list-item .addPanier {
    vertical-align: middle;
    color: var(--black);
}

.list-item .addPanier:hover {
    color: var(--secondary-color);
}