#main {
    display: flex;
    position: fixed;

    top: 64px;
    width: 100vw;
    padding: 16px;

    background-image: url("../../bg.svg");
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#main #page-title h2 {
    margin: 0;
}

#main #page-title #result-number {
    margin: 0;
}


#main #page-title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

#main #page-title #sort {
    font-size: 0.7rem;
}

#main-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1366px;
}
