#page-product {
    overflow-y: scroll;
    margin-right: 32px;
    height: calc(100vh - 132px - 8rem);
}

#banner {
    position: relative;
    left: -16px;

    width: 100vw;
    height: 8rem;
    overflow: hidden;

    opacity: 0.8;
    box-shadow: 4px 4px 12px var(--black);
}


#banner .product-picture {
    position: relative;
    top: 50%;

    width: 100%;
    transform: translateY(-50%);
}

#product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-container #product-infos p {
    margin: 4px;
}

#product-container #product-infos p {
    font-weight: bold;
}

#product-container #product-infos p span {
    font-weight: normal;
}

#product-container #product-infos #infos-price {
    color: var(--success-color);
}

#product-container #product-infos #cart-text {
    vertical-align: super;
}

#product-container .product-picture {
    width: 33%;
    height: max-content;
    box-shadow: 4px 4px 12px var(--black);
    margin-right: 16px;
}

#product-container #product-summary {
    margin-top: 16px;
}

@media screen and (min-width: 640px) {
    #banner {
        display: none;
    }

    #product-container  {
        width: 45vw;
    }

    #product-container #product-summary {
        padding-right: 0;
    }

    #page-product {
        height: calc(100vh - 132px);
    }
}

@media screen and (max-width: 810px) {
    #product-container #product-infos #cart-text {
        display: none;
    }
}